@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors
  }
}